{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure        {:mvn/version "1.11.1"}
           techascent/tech.ml.dataset {:mvn/version "7.030"}
           scicloj/tablecloth         {:mvn/version "7.029.2"
                                       :exclusions  [techascent/tech.ml.dataset
                                                     org.apache.poi/poi-ooxml-schemas
                                                     org.apache.poi/poi
                                                     org.apache.poi/poi-ooxml]}}
 :aliases {:dev  {:extra-paths ["templates" "dev"]
                  :extra-deps  {;; adroddiad & clerk only required to run the template namespaces and notebooks. Not required by src namespaces.
                                com.github.MastodonC/witan.send.adroddiad {:git/sha    "a24132375b066ec17af257a6646a4c187ac76afa"
                                                                           :exclusions [mastodonc/witan.send
                                                                                        techascent/tech.ml.dataset]}
                                io.github.nextjournal/clerk               {:mvn/version "0.17.1102"}}}
           :test {:extra-paths ["test"]}}}
